body {background-color:burlywood; background-image: linear-gradient(burlywood, khaki);}

table {background-image: radial-gradient(orange, yellow, khaki); background-color:greenyellow; width: 800px; height: 800px; text-align: center; caption-side: top;  margin-left: auto; margin-right: auto;}

a {color: white; font-size: 30px; font-weight: bold;}

a:active {color: purple; font-size: 30px; font-weight: bold;}

a:hover {color: red; font-size: 30px; font-weight: bold;}

p {font-family: serif; font-size: 20px; font-weight: normal; font-style: italic;}

h1 {color: green; font-family: 'Times New Roman'; font-size: 60px}

h1:hover {color:red; background-color: olivedrab; font-weight: bold}

h2 {color: green; font-family: 'Times New Roman'; font-size: 60px}

h2:hover {color:red; background-color: olivedrab; font-weight: bold}